body {
    font-family: "DM Sans", sans-serif;
}
.center-text {
    display: flex;
    justify-content: center;  
    align-items: center;
    text-align: center;
    height: 100vh;
    width: 100%;
}

@media (max-width: 768px) {
    #mainhead {
        font-size: 50px;
    }
}

li:hover {
    font-family:"DM Sans";
    color:black;
    display:inline;
    opacity:0.75;
    font-size:40px;
    padding-left:15px;
    padding-right:15px
}

a:link{
    color:black;
    background-color:transparent;
    text-decoration:none;
}

a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

ul {
    text-align:center;
}

img {
    border-radius:16px;
    width: 50%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}